<div class="navbar navbar-inverse col-sm-12" role="navigation" style="padding: 0px 15px;">
  <ul class="nav navbar-nav">
    <!--    <li <% if (title==="Home") { %> class="active" <% } %>><a href="/admin">Home</a></li> -->
    <li <% if (title==="Overview") { %> class="active" <% } %>><a href="/admin/overview">Overview</a></li>
  </ul>
</div>
